In [4]:
import pandas as pd
%matplotlib inline

In [5]:
cs_df = pd.read_excel("Online Retail.xlsx")
cs_df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

Các thuộc tính trong tập dữ liệu:
    - InvoiceNo: mã định danh cho hóa đơn
    - StockCode: số định dạnh cho các mục có trong hóa đơn
    - Description: Mô tả sản phẩm
    - Quantity: tình trạng chất lượng của sản phẩm trong kho
    - InvoiceDate: Ngày mua
    - UnitPrice: giá sản phẩm
    - CustomerID: định danh khách hàng khi giao dịch
    - Country: địa chỉ khách hàng

In [6]:
cs_df.Country.value_counts().reset_index().head(n=10)

            index  Country
0  United Kingdom   495478
1         Germany     9495
2          France     8557
3            EIRE     8196
4           Spain     2533
5     Netherlands     2371
6         Belgium     2069
7     Switzerland     2002
8        Portugal     1519
9       Australia     1259

Kiểm tra số lượng khách hàng mà nhà bán lẻ đang có và cách họ sắp xếp đơn hàng
Tính tỉ lệ phần trăm khách hàng đặt hàng từ top 10 người mua hàng, từ đó kiểm tra csdl có phân phối đều hay không

In [8]:
cs_df.CustomerID.unique().shape

(4373,)

In [12]:
(cs_df.CustomerID.value_counts()/sum(cs_df.CustomerID.value_counts())*100).head(13).cumsum()

17841.0    1.962249
14911.0    3.413228
14096.0    4.673708
12748.0    5.814728
14606.0    6.498553
15311.0    7.110850
14646.0    7.623350
13089.0    8.079807
13263.0    8.492020
14298.0    8.895138
15039.0    9.265809
14156.0    9.614850
18118.0    9.930462
Name: CustomerID, dtype: float64

Ta thấy có tổng cộng 4373 khách hàng nhưng có tới 10% tổng thu nhập từ 12 khách hàng.
Tiếp theo, kiểm tra bao nhiêu mặt hàng đặc biệt đang bán và mô tả của chúng có bằng nhau không?

In [13]:
cs_df.StockCode.unique().shape

(4070,)

In [14]:
cs_df.Description.unique().shape

(4224,)

StockCode và Description không khớp nhau, tiếp tục tìm hiểu xem tại sao không có sự sai lệch này

In [16]:
cat_des_df = cs_df.groupby(["StockCode", "Description"]).count().reset_index()
cat_des_df.StockCode.value_counts()[cat_des_df.StockCode.value_counts()>1].reset_index().head()

    index  StockCode
0   20713          8
1   23084          7
2   21830          6
3   85175          6
4  72807A          5

In [17]:
cs_df[cs_df["StockCode"]==cat_des_df.StockCode.value_counts()[cat_des_df.StockCode.value_counts()>1].reset_index()['index'][6]]["Description"].unique()

array(['PLEASE ONE PERSON METAL SIGN', 'on cargo order', 'adjustment',
       'check', nan, 'dotcom'], dtype=object)

- Điều này cho thấy một trường nào đó chất lượng dữ liệu đã bị hỏng. Trong thực tế, việc chỉnh sửa dữ liệu sẽ được người làm dữ liệu chuyên dụng chỉnh sửa.
- Trong bài toán phân đoạn khách hàng này, chúng ta tập trung tiếp vào các trường: Quantity và UnitPrice

In [18]:
cs_df.Quantity.describe()

count    541909.000000
mean          9.552250
std         218.081158
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [19]:
cs_df.UnitPrice.describe()

count    541909.000000
mean          4.611114
std          96.759853
min      -11062.060000
25%           1.250000
50%           2.080000
75%           4.130000
max       38970.000000
Name: UnitPrice, dtype: float64